/*css holy grail layout https://medium.com/samsung-internet-dev/common-responsive-layouts-with-css-grid-and-some-without-245a862f48df
jo franchetti*/  

@media (min-width: 480px) {
        .container {
          display: grid;
          grid-template-columns: 200px 1fr 200px;
          grid-template-rows: auto 1fr auto;
      
        }
      }
   
    header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #369;
    color: white;
    }
    
    div {
    flex: 1;
    padding: 0px;
    }

    section.e {
        flex: 1;
        /* padding: 25%; */
        background-color: #936;
        width: 50%;
        height: 50%;
        float: left;
        }
    section.f {
        flex: 1;
        /* padding: 25%; */
        background-color: blue;
        width: 50%;
        height: 50%;
        float: right;
        }
    section.g {
        flex: 1;
        /* padding: 25%; */
        background-color:blueviolet;
        width: 50%;
        height: 50%;
        float: left;
        }
    section.h {
        flex: 1;
        /* padding: 25%; */
        background-color: yellowgreen;
        width: 50%;
        height: 50%;
        float: right;
        
        }
    
    nav.c {
    background-color: #f90;
    padding: 20px;
    }
    
    nav.d{
    padding: 20px;
    background-color: #936;
    }
    
    footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #690;
    color: white;
    }
    
    h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
    }
